@charset "utf=8";

body{font-family: "Barlow", "Pretendard", sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000;}
.inner{max-width: 1640px; margin: 0 auto; padding: 0 20px;}
h2{font-family: "Gloock", serif; font-size: 6.5rem; color: #ce0e2d; text-transform: capitalize;}

.btn_more a{display: inline-block; padding: 17px 80px; background: #ce0e2d;  color: #fff; cursor: pointer; text-transform: uppercase;}

/* header */
#header{position: absolute; left: 0; top: 0; width: 100%; z-index: 2; padding-top: 20px;}
#header .inner{display: flex; justify-content: space-between; align-items: center;}
#header .gnb{display: flex; text-transform: uppercase;}
#header .gnb li{position: relative;}
#header .gnb>li>a{display: block; padding: 0 40px; font-size: 2rem;}
#header .btn_ham{display: none; background: transparent; border: 0; cursor: pointer;}
#header .gnb .depth2{display: none; background: #000; color: #fff; padding: 20px; line-height: 2; width: 150px;  left: calc(50% - 50px );}
#header .gnb>li:hover .depth2{display: block; position: absolute;}
@media (max-width:1000px) {
    #header h1 img{width: 80px;}
    #header .gnb{display: none;}
    #header .btn_ham{display: block;}
}

/* section{margin: 220px 0;} */

/* banner */
.banner{position: relative;}
.banner1 {position: relative; background: url(../images/banner1.jpg) no-repeat center / cover; height: 100vh;}
.banner2 {position: relative; background: url(../images/banner2.jpg) no-repeat center / cover; height: 100vh;}
.banner3 {position: relative; background: url(../images/banner3.jpg) no-repeat center / cover; height: 100vh;}
.banner .banner_txt{position: absolute; left: 50%; bottom: 200px;}
.banner .banner_txt p{font-size: 2.2rem;}
.banner .banner_txt h3{font-size: 5rem; padding-bottom: 45px;}


.banner .swiper-pagination{top: auto; bottom: 5vw; height: 2px; max-width: 1600px; width: calc(100% - 40px); left: 50%; transform: translateX(-50%);}
.banner .swiper-pagination-progressbar-fill{background: #000;}

@media (max-width:1000px) {
    .banner1 {position: relative; background: url(../images/banner1_mo.jpg) no-repeat center / cover; height: 100vh;}
    .banner2 {position: relative; background: url(../images/banner2_mo.jpg) no-repeat center / cover; height: 100vh;}
    .banner3 {position: relative; background: url(../images/banner3_mo.jpg) no-repeat center / cover; height: 100vh;}
    .banner .banner_txt{left: 2.5vw; bottom: 10vw;}
    .banner .banner_txt p{font-size: 1.7rem;}
    .banner .banner_txt h3{font-size: 3.5rem;}
}
@media (max-width:800px) {
    /* .banner .banner_txt p{font-size: 1.5rem;} */
    .banner .banner_txt{}
    .banner .banner_txt h3{font-size: 2.5rem;}
}



.creation{margin-top: 220px;}
.creation h2{text-align: center;}
.creation h3{font-family: "Gloock", serif;}
.creation .creation_img{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 20px; padding: 70px 0 60px;}
.creation .creation_img img{width: 100%;}
.creation .creation_img img:nth-child(2n){margin-top: 50px;}
.creation .creation_txt{text-align: center;}
.creation .creation_txt h3{font-size: 3.5rem; text-transform: capitalize;}
.creation .creation_txt p{ color: #a6a6a6; padding: 30px 0;}
.creation .btn_more{text-align: center;}

@media (max-width:1000px) {
    .creation h2{font-size: 5rem;}
    .creation .creation_txt h3{font-size: 2.5rem;}
    .creation .creation_img{grid-template-columns:1fr 1fr; gap: 5px;}
    .creation .creation_img img{width: 100%;}
    .creation .creation_img img:nth-child(2n){margin-top: 0;}
}

.new{margin-top: 220px;}
.new h2{text-align: center;}
.new .new_list ul li{opacity: 0.5;}
.new .new_list ul li.swiper-slide-active{opacity: 1;}
.new .new_list ul li img{width: 100%; padding: 45px 0 25px;}
.new .new_list ul li strong{display: block;}
.new .new_list ul li span{display: block; color: #bd907a;}


.follow{margin: 200px 0;}
.follow .inner{position: relative; display: grid; grid-template-columns: 400px auto;}
.follow .follow_title{position: sticky; top: 0; height: 400px;}
.follow_title p{color: #999;}
.follow .follow_list{display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 50px;}
.follow .follow_col:nth-child(odd){margin-top: 100px;}
.follow .follow_con{margin-bottom: 100px;}
.follow .follow_con img{width: 100%;}
.follow .follow_con dl dt{font-size: 2rem; font-weight: 500; padding: 25px 0 20px;}
.follow .follow_con dl dd{color: #999;}
.follow .btn_more {text-align: center;}

@media (max-width:1500px) {
    .follow .inner{grid-template-columns: auto;}
    .follow .follow_title{position: static; text-align: center; padding-bottom: 35px;}
    .follow .follow_list{grid-template-columns: 1fr 1fr;}
    .follow .follow_col:last-child{display: none;}
}
@media (max-width:800px) {
    .follow .follow_list{grid-template-columns: 1fr;}
    .follow .follow_col:nth-child(2){display: none;}
    .follow .follow_col:nth-child(odd){margin-top: 0;}
}

#footer{background: #000; color: #fff; padding: 100px 0;}
#footer .footer_list{display: grid; justify-content: space-between; grid-template-columns: auto auto auto auto; gap: 20px 50px; border-bottom: 1px solid #999; padding-bottom: 50px;}
#footer .footer_con a{display: flex; font-size: 2rem;}
#footer .footer_list .service dt{font-size: 2.5rem;}
#footer .footer_list .service dd{color: #999;}
#footer .footer_list .call span{font-size: 2.5rem;}
#footer .footer_list .call{font-size: 1.5rem;}

#footer .footer_txt{color: #999; padding-top: 50px;}
#footer .footer_txt div{display: flex; gap: 5px 20px; flex-wrap: wrap;}
#footer .footer_txt address{padding: 25px 0;  flex-wrap: wrap;}
#footer .footer_txt address br{display: none;}


@media (max-width:1000px) {
    #footer .footer_list{flex-wrap: wrap;}
    
    #footer .footer_list{grid-template-columns: auto auto auto;}
}
@media (max-width:800px) {
    #footer .footer_list{grid-template-columns: auto;}
    #footer .footer_txt div p{width: auto;}
    #footer .footer_txt address br{display:block;}
}











